/* navbar css */


*{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #A0BFE0;
    color: #184081;
    padding-inline: 45px;
    border-bottom: 1px solid gray;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-right: 20px;
}

.navbar-link {
    color: #005593;
    text-decoration: none;
    margin-left: 30px;
    background-color: rgba(128, 128, 128, 0.27);
    border-radius: 0.7rem;
    font-size: 1rem;
    display: inline-block; /* Ensure the element respects width and height */
    width: 100px; 
    height: 30px; 
    line-height: 30px; 
    text-align: center; 
}

.navbar-link:hover{
    background-color: rgba(132, 130, 130, 0.665);
    color: #184081;
}

.navbar-icon {
    width: 2rem; 
    height: auto; 
    margin-right: 10px; 
  }
  